:root{
    --width: 20px;
    --height: 20px;
    --deg: 50deg;
    --bg: red;
    --top: 20px;
    --left: 80px;
}

body{
    height: 100vh;
    position: relative;
    .bowl{
        width: 500px;
        height: 500px;
        overflow: hidden;
        margin: auto;
        position:absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .jelly{
        width: var(--width);
        height: var(--height);
        transform : rotate(var(--deg));
        background: var(--bg);
        top: var(--top);
        left: var(--left);
        position: absolute;
    }
}